header {
    a {
        text-decoration: none;
        color: black;
        flex-grow: 1;
    }
    
    h1 {
        font-size: 2.5em;
        font-family: 'Pacifico';
        color: gray;
    }

    ul {
        align-items: center;
        list-style: none;
        justify-content: flex-end;

        a {
            li {
                margin: 0 10px;
            }
        }
    }
}

